<%= @patient.name %>
<% @patient.appointments.each do |appointment| %>
  <% d= appointment.appointment_datetime %>
  <%= d.strftime("%B %d, %Y at %H:%M") %><br>
  <a href="<%= doctor_path(appointment.doctor) %>"><%= appointment.doctor.name %></a><br>
<% end %>
